body {
  font-family: helvetica, arial, sans-serif;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

a {
  color: white;
}

#nav {
  max-width: 1220px;
  background-color: black;
  width: 1000%;
  margin-left: -10px;
  margin-top: -10px;
  height: 45px;
  position: fixed;
  z-index: 99;
}

#nav ul {
  margin-left: -5px;
  margin-top: 0px;
  padding-top: 10px;
}

#nav ul a {
  color: #cccccc;
  display: inline;
  font-size: 18px;
  text-decoration: none;
}

#nav ul a:hover {
  color: white;
}

a.anchor{
  display: block;
  position: relative;
  top: -58px;
  visibility: hidden;
}

#nav .name a {
  margin-left: -20px;
  margin-right: 20px;
  font-size: 20px;
  font-weight: bold;
  color: white;
}

.content {
  padding-top: 35px;
  background-color: #cccccc;
  margin-left: -10px;
  margin-right: -10px;
  margin-bottom: -20px;
}

.odd, .even {
  text-align: center;
  padding: 15px;
  padding-bottom: 25px;
}

.odd p, .even p {
  text-align: left;
  width: 80%;
  margin: 1em auto;
}

h2 {
  margin: 0;
}

h3 a {
  text-decoration: none;
  color: white;
}

.source-link {
  text-decoration: underline;
  font-size: 0.85em;
}

.source-link:hover {
  text-decoration: none;
}

.odd {
  background-color: #cccccc;
}

.even {
  background-color: #3D5C5C;
  color: white;
}

.wide {
  margin-bottom: 25px;
  height: auto;
  width: 80px;
}

.objective p {
  text-align: center;
  line-height: 1.4em;
}

.projects {
  padding-bottom: 200px;
  clear: both;
}

.project {
  clear: both;
}

.project .left {
  display: block;
  padding: 10px;
  padding-top: 40px;
  width: 45%;
}

.project .right img {
  width: 455px;
  margin-right: 80px;
}

.left, .right {
  display: inline;
}

.right img {
  float: right;
  margin-right: 100px;
  margin-top: 50px;
  height: 250px;
}

.courses {
  width: 32%;
  margin-left: 100px;
  border-radius: 5px;
  padding: 5px;
  text-align: left;
  background-color: #cccccc;
  color: black;
}

.courses li {
  display: block;
  list-style-type: circle;
}

.last {
  padding-bottom: 35px;
}

ul {
  list-style-type: none;
}

ul li {
  display: inline;
  margin: 10px;
}

img {
  height: 80px;
}

body {
  font-family: Helvetica;
  font-size: 13px;
}

#callout {
  min-height: 25px;
  width: 150px;
  float: left;
  top: -30px;
  background-color: #444;
  background-image: -moz-linear-gradient(top, #444, #444);
  position: relative;
  color: #ccc;
  padding: 10px;
  border-radius: 3px;
  box-shadow: 0px 0px 20px #999;
  margin: 25px;
  border: 1px solid #333;
  text-shadow: 0 0 1px #000;
  margin-bottom: -999px;
}

#callout.hidden {
  visibility: hidden;
}

#callout a {
  color: white;
}

#callout::before {
  content: "";
  width: 0px;
  height: 0px;
  border: 0.8em solid transparent;
  position: absolute;
  left: 45%;
  top: -20px;
  border-bottom: 10px solid #444;
}
